/* wrap list and total in a new inner container */
.cart-inner {
  display: flex;
  flex-direction: column;
  min-height: 300px; /* adjust based on cart size */
}

.total {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  border-top: 1px solid #752e2e;
  padding-top: 15px;
  color: #333;

  margin-top: auto; /* pushes total to bottom of cart-inner */
}
